Repository timberware/cinesync, pull requests merged in 2024-05, with the labels that each got.

#80 feat(api): implement aggregate functions
  api/src/comment/dao/comment.dao.ts
  api/src/list/list.controller.ts
  api/src/list/list.service.ts
  api/src/movie/dao/movie.dao.ts
  api/src/user/dao/user.dao.ts
  api/src/user/user.controller.ts
  api/src/user/user.service.ts
Labels: api

#81 feat(web): remake the landing page to display minimal info about lists
  web/src/lib/List/Container.svelte
  web/src/lib/List/List.svelte
  web/src/lib/List/ListContainer.svelte
  web/src/lib/List/ListInfo.svelte
  web/src/lib/List/ListTitle.svelte
  web/src/lib/List/ListTop.svelte
  web/src/lib/List/Poster.svelte
  web/src/lib/NewList/Container.svelte
  web/src/lib/NewList/NewList.svelte
  web/src/routes/user/lists/+page.svelte
Labels: web

#83 refactor(web): improve landing page's responsiveness
  api/src/list/dto/list.dto.ts
  web/src/ambient.d.ts
  web/src/lib/Image.svelte
  web/src/lib/List/ListsContainer.svelte
  web/src/lib/MainContainer.svelte
  web/src/lib/Nav/Link.svelte
  web/src/lib/Nav/Nav.svelte
  web/src/routes/user/lists/+page.server.ts
  web/src/routes/user/lists/+page.svelte
  web/src/utils/consts.ts
Labels: web

#92 Fix: remove count prop from payload in pagination middleware
  api/src/middleware/pagination.ts
  api/src/utils/constants.ts
  api/src/utils/index.ts
Labels: api

#87 fixes #77: Ensure list cloning duplicates an entire list and not just the first 10 items
  api/src/movielist/movielist.service.ts
Labels: api

#88 closes #4: add toast component
  web/package.json
  web/src/ambient.d.ts
  web/src/lib/Toast/Toast.svelte
  web/src/lib/Toast/Toasts.svelte
  web/src/routes/login/+page.server.ts
  web/src/routes/login/+page.svelte
  web/src/routes/login/messages.ts
  web/src/routes/user/lists/+page.server.ts
  web/src/store/index.ts
  web/src/store/toast.ts
  web/tailwind.config.js
Labels: web

#96 Fix: Sync service fails to update all movies in db
  api/src/sync/sync.service.ts
Labels: api

#99 refactor(web): integrate watched and delete for movies
  web/src/lib/Image.svelte
  web/src/lib/List/ListsContainer.svelte
  web/src/lib/Movie/Container.svelte
  web/src/lib/Movie/Delete.svelte
  web/src/lib/Movie/Movie.svelte
  web/src/lib/Movie/MovieContainer.svelte
  web/src/lib/Movie/Watched.svelte
  web/src/lib/Movie/messages.ts
  web/src/routes/user/lists/[slug]/+page.server.ts
  web/src/routes/user/lists/[slug]/+page.svelte
Labels: web

#97 Refactor: Remove movielist service
  api/src/app.module.ts
  api/src/list/list.controller.ts
  api/src/list/list.module.ts
  api/src/movie/movie.controller.ts
  api/src/movielist/dto/create-movielist.dto.ts
  api/src/movielist/movielist.controller.spec.ts
  api/src/movielist/movielist.controller.ts
  api/src/movielist/movielist.module.ts
  api/src/movielist/movielist.service.spec.ts
  api/src/movielist/movielist.service.ts
  web/src/routes/user/lists/+page.server.ts
Labels: api

#101 fix: use auth module for signup
  api/src/auth/auth.controller.ts
  web/src/routes/signup/+page.server.ts
  web/src/routes/signup/+page.svelte
  web/src/routes/signup/messages.ts
Labels: api, web
